.addPost {
  width: 100%;
  height: 145px;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 13px 3px rgba(64, 64, 64, 0.53);
  box-shadow: 8px 8px 13px 3px rgba(64, 64, 64, 0.53);
}

.addPostWrapper {
  margin-top: 5px;
  padding: 10px;
}

.addPostInput {
  width: 100%;
  height: auto;
  border: none;
  margin-top: 30px;
  border-radius: 10px;
  inline-size: 150px;
  overflow-wrap: break-word;
}

.addPostInput:focus {
  outline: none;
}

.shareHR {
  margin: 20px;
}

.addPostTop {
  display: flex;
  align-items: center;
}

.addPostBttm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareBtn {
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  margin-left: 90%;
  margin-top: 5%;
  cursor: pointer;
  color: white;
  background-color: green;
}

.shareBtn:hover {
  background-color: lightgreen;
  transition: 3s ease-in-out;
}

.typewriter {
  margin-top: 30px;
  margin-right: 10px;
}
